@{
    Layout = null;
}

<!doctype html>

<table cellpadding="0" cellspacing="0" width="600" align="center">
<tr>
@*<td height="90" width="150"><div align="center"> <img src="https://www.hareketligifler.net/data/media/707/hosgeldiniz-hareketli-resim-0014.gif" border="0"/></a></div>*@
</td>
</tr>
</table>

<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" lang="tr" style="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.SiteAdi</title>
    <meta name="description" content="@ViewBag.SiteAciklamasi">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="apple-touch-icon" href="/Rosella/UI/images/logo/favicon.png">
	<link rel="shortcut icon" type="image/x-icon" href="/Rosella/UI/images/logo/favicon.png">    
    <link rel="stylesheet" href="~/Rosella/UI/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/core.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/nivo-slider.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/venobox.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/plugins/owl.carousel.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/plugins/meanmenu.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/responsive.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/custom.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/wpbuton.css">
	<link href="#" data-style="styles" rel="stylesheet">
    <script src="/Rosella/UI/js/vendor/modernizr-2.8.3.min.js"></script>
<style id="inert-style">
[inert] {
  pointer-events: none;
  cursor: default;
}

[inert], [inert] * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/50/1/intl/tr_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/50/1/intl/tr_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/50/1/intl/tr_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/50/1/intl/tr_ALL/util.js"></script>



</head>


<body>
			
	
                        
	<header class="header-area header-wrapper">
			<div b-trnalvuuqi="" class="header-top-area">
			   <div b-trnalvuuqi="" class="container">
					<div b-trnalvuuqi="" class="row">
						<div b-trnalvuuqi="" class="col-md-6 col-sm-7 col-xs-12">
							<div b-trnalvuuqi="" class="header-left ptb-15">
								<ul b-trnalvuuqi="">
									
									<li b-trnalvuuqi=""><span b-trnalvuuqi=""><i b-trnalvuuqi="" class="zmdi zmdi-phone"></i></span><a b-trnalvuuqi="" href="#">0531 635 49 63 </a></li>
									<li b-trnalvuuqi=""><span b-trnalvuuqi=""><i b-trnalvuuqi="" class="zmdi zmdi-email"></i></span><a b-trnalvuuqi="" href="#">mskdeveloper@hotmail..com</a></li

									<a href="http://www.ipadresi.org"><img src="http://in.sitekodlari.com/ipadresi10.php" border="0" alt="ip adresi" /></a>
									
									
									<!-- WhatsApp MESAJ butonu -->
								<style>
									.float{
									position:fixed;width:60px;height:60px;bottom:40px;left:40px;background-color:#25d366;color:#FFF;border-radius:50px;
									text-align:center;font-size:30px;box-shadow: 2px 2px 3px #999;z-index:100;
									}.my-float{
									margin-top:16px;}
									</style>
									<a href="https://api.whatsapp.com/send?phone=905316354963" class="float" target="_blank">
									<i class="fa fa-whatsapp my-float"></i>
									<i	call_to_action: "Merhaba, nasıl yardımcı olabilirim?"></i>

									</a>
									
									<!-- WhatsApp MESAJ butonu -->
									
									

								</ul>
							</div>
						</div>
						<div b-trnalvuuqi="" class="col-md-6 col-sm-5 col-xs-12">
							<div b-trnalvuuqi="" class="header-right social-icon pull-right">
								<ul b-trnalvuuqi="">
									
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#"><i b-trnalvuuqi="" class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#"><i b-trnalvuuqi="" class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" target="_blank" href="https://www.linkedin.com/mserkankaya"><i b-trnalvuuqi="" class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#"><i b-trnalvuuqi="" class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
			   </div>
			</div>
			<div b-trnalvuuqi="" class="main-menu-area broder-top ptb-25" id="sticky-header">
				<div b-trnalvuuqi="" class="container">
					<div b-trnalvuuqi="" class="row">
						<div b-trnalvuuqi="" class="col-md-2 col-sm-12 col-xs-12">
							<div b-trnalvuuqi="" class="logo-area">
								<a b-trnalvuuqi="" href="@Url.Action("Index" , "Home")"><img b-trnalvuuqi="" src="~/Rosella/UI/images/icon/f9a57.jpg alt="SKSoft Yazılım"></a>
							</div>
						</div>
						<div b-trnalvuuqi="" class="col-md-10 col-sm-12 hidden-xs">
							<div b-trnalvuuqi="" class="main-menu">
								<nav b-trnalvuuqi="">
									<ul b-trnalvuuqi="" id="nav">
										<li b-trnalvuuqi="" class="active"><a b-trnalvuuqi="" href="@Url.Action("Index" , "Home")">Anasayfa</a></li>
										<li b-trnalvuuqi="" class="active"><a b-trnalvuuqi="" href="@Url.Action("Bloglar" , "Home")">Blog</a></li>
										<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="@Url.Action("Urunlerimiz" , "Home")">Ürünlerimiz</a></li>	
										<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="@Url.Action("Hakkimizda" , "Home")">Hakkımızda</a></li>
										<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="@Url.Action("Iletisim" , "Home")">İletişim</a></li>
										<li b-trnalvuuqi="" class="nav-item cta-btn2">
										<li b-ungwgpyl7q="" class="nav-item cta-btn2">
										
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				
			</div>
        </header>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <div b-trnalvuuqi="" class="wrapper gray-bg">
        
        <div b-trnalvuuqi="" class="slider-area">
                <div b-trnalvuuqi="" class="single-welcome-slide">
                <!-- Background Curve -->
                <div b-trnalvuuqi="" class="background-curve">
                    <img b-trnalvuuqi="" src="/Rosella/UI/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div b-trnalvuuqi="" class="welcome-content h-100">
                    <div b-trnalvuuqi="" class="container h-100">
						 

	



    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SERKAN KAYA YAZILIM</title>
    <meta name="description" content="SKSoft, Sizlerin İhtiyaç Duyduğu Hizmetleri Sorunsuz, Hızlı ve Kusursuz Şekilde Sunmak Adına Kurulmuş Bir Şirkettir.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="apple-touch-icon" href="/Rosella/UI/images/logo/favicon.png">
	<link rel="shortcut icon" type="image/x-icon" href="/Rosella/UI/images/logo/favicon.png">    
    <link rel="stylesheet" href="~/Rosella/UI/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/core.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/nivo-slider.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/venobox.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/plugins/owl.carousel.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/plugins/meanmenu.min.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/style.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/responsive.css">
    <link rel="stylesheet" href="~/Rosella/UI/css/custom.css">
	<link href="#" data-style="styles" rel="stylesheet">
    <script src="~/Rosella/UI/js/vendor/modernizr-2.8.3.min.js"></script>

    
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <div class="wrapper gray-bg">
        <header class="header-area header-wrapper">
			<div class="header-top-area">
			   <div class="container">
				 
					
			   </div>
			</div>
			
        </header>
                <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="/Rosella/UI/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <!--Slider Başlangıcı-->
                        
                            
                        
                        
                        <!--Slider Bitişi-->
                    </div>
                </div>
            </div>
		 
        
        <section class="about-area pt-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							
							
						</div>
					</div>
				</div>
				
				<hr>
			</div>
        </section>
		
		
		<br>
		
		
		
		
	
        

		

		
    </div>
    <script src="/Rosella/UI/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Rosella/UI/js/bootstrap.min.js"></script>
    <script src="/Rosella/UI/js/plugins.js"></script>
    <script src="/Rosella/UI/js/jquery.nivo.slider.pack.js"></script>
    <script src="/Rosella/UI/js/jquery.magnific-popup.min.js"></script>
    <script src="/Rosella/UI/js/isotope.pkgd.min.js"></script>
    <script src="/Rosella/UI/js/venobox.min.js"></script>
	<script src="/Rosella/UI/js/ajax-mail.js"></script>
    <script src="/Rosella/UI/js/owl.carousel.min.js"></script>
    <script src="/Rosella/UI/js/jquery.meanmenu.js"></script>
    <script src="/Rosella/UI/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Rosella/UI/js/jquery.counterup.min.js"></script>
    <script src="/Rosella/UI/js/jquery.waypoints.min.js"></script>
    <script src="/Rosella/UI/js/main.js"></script>


<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="7622926ba45847e1a0ef7ec90e604ce9" data-requestmappingfromserver="false" data-connecturl="http://localhost:65112/4b1d730b59484a14a47d7131a4c26862/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script>


                        <div b-trnalvuuqi="" class="slider-area">
                <div b-trnalvuuqi="" class="single-welcome-slide">
                <!-- Background Curve -->
                <div b-trnalvuuqi="" class="background-curve">
                    <img src="/Rosella/UI/img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div b-trnalvuuqi="" class="welcome-content h-100">
                    <div b-trnalvuuqi="" class="container h-100">
						@RenderBody()
                        <!--Slider Başlangıcı-->
                        
                            <div b-trnalvuuqi="" class="row h-100 align-items-center">
                                <!-- Welcome Text -->
                               
								 
                            </div>
                                <!-- Welcome Thumbnail -->
                               
                        
                        
                        <!--Slider Bitişi-->
                    </div>
                </div>
            </div>
        <section b-trnalvuuqi="" class="about-area pt-100">
			<div b-trnalvuuqi="" class="container">
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="col-md-12">
						<div b-trnalvuuqi="" class="section-title text-center">
							<h1 b-trnalvuuqi="">SKSoft Yazılım</h1>
							<p b-trnalvuuqi="">
								Dünyanın en iyi şirketlerinin en iyi yazılımları kullanmasına aracılık ediyoruz.
								Sizde en iyi yazılımları kullanıp işinizin en iyisi olmak istemez misiniz ?</p>
						</div>
					</div>
				</div>
				<div b-trnalvuuqi="" class="row pt-50">
					<div b-trnalvuuqi="" class="col-md-3 col-sm-6 col-xs-12">
						<div b-trnalvuuqi="" class="specialty-single pb-50">
							<div b-trnalvuuqi="" class="icon-titel">
								<i b-trnalvuuqi="" class="fa fa-support" aria-hidden="true"></i>
								<h6 b-trnalvuuqi="">Anlık Destek</h6>
							</div>
							<div b-trnalvuuqi="" class="spe-discribe">
								<p b-trnalvuuqi="">Bilinçli ve Profesyonel Kadromuzla , İsteğe Göre Müdehaleler ve Destekler.</p>
							</div>
						</div>
						<div b-trnalvuuqi="" class="specialty-single hidden-xs">
							<div b-trnalvuuqi="" class="icon-titel">
								<i b-trnalvuuqi="" class="fa fa-lock" aria-hidden="true"></i>
								<h6 b-trnalvuuqi="">Güvenilir Alt Yapı</h6>
							</div>
							<div b-trnalvuuqi="" class="spe-discribe">
								<p b-trnalvuuqi=""><b b-trnalvuuqi="" style="color:blueviolet;">SKSoft</b> Müşterilerine Sunduğu Hizmetlerde Asp'nin Güçlü ve Güvenilir, Alt Yapısını Kullanmaktadır. </p>
							</div>
						</div>
					</div>
					<div b-trnalvuuqi="" class="col-md-3 col-sm-6 col-xs-12">
						<div b-trnalvuuqi="" class="specialty-single pb-50">
							<div b-trnalvuuqi="" class="icon-titel">
								<i b-trnalvuuqi="" class="fa fa-diamond" aria-hidden="true"></i>
								<h6 b-trnalvuuqi="">Duyarlı Tasarım</h6>
							</div>
							<div b-trnalvuuqi="" class="spe-discribe">
								<p b-trnalvuuqi="">Tüm sitemlerimizde hazır tasarımlar kullanmıyoruz, Masaüstü, Tablet, Mobil Vb. Özel ve uyumlu tasarımlar yapıyoruz.</p>
							</div>
						</div>
						<div b-trnalvuuqi="" class="specialty-single hidden-xs">
							<div b-trnalvuuqi="" class="icon-titel">
								<i b-trnalvuuqi="" class="fa fa-desktop" aria-hidden="true"></i>
								<h6 b-trnalvuuqi="">Özel Tasarım</h6>
							</div>
							<div b-trnalvuuqi="" class="spe-discribe">
								<p b-trnalvuuqi="">Alt Yapımızda Hazır Tasarımlar Kullanmıyoruz. Tüm Danışanlarımıza İsteğine Göre Tasarımlar Yapıyoruz.</p>
							</div>
						</div>
					</div>
					<div b-trnalvuuqi="" class="col-md-6 col-sm-12">
						<div b-trnalvuuqi="" class="specialty-image">
							<img b-trnalvuuqi="" src="/Rosella/UI/images/other/aciklama.png" alt="">
						</div>
					</div>
				</div>
				<hr b-trnalvuuqi="">
			</div>
        </section>
		<section b-trnalvuuqi="" class="ourblog-area pb-100">
			<div b-trnalvuuqi="" class="container">
				<!-- Section Titel -->
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="col-md-12">
						<div b-trnalvuuqi="" class="section-title text-center">
							<h1 b-trnalvuuqi="" style="color:royalblue;">BLOG</h1>
							<b b-trnalvuuqi="" style="color:steelblue;" <p="">  OLUP BİTENLERDEN HABERDAR OLMAK İÇİN BLOG SAYFAMIZA GÖZ ATIN. <br b-trnalvuuqi=""> SİZLER İÇİN ÖNE ÇIKAN BLOGLAR; </b><p b-trnalvuuqi=""></p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<!-- Blog Content Area Start -->
				<div b-trnalvuuqi="" class="row pt-55">
					<!-- Single Blog -->
					<div class="row">

    @foreach (var item in ViewBag.Bloglar)
    {
        <div class="col-md-4 col-sm-6">
						<div class="single-blog style-two white-bg broder mb-30">
							<h6><a href="@Url.Action("BlogDetay","Home", new {id = item.ID})">@item.Baslik</a></h6>
							<div class="blog-img">
								<a href="@Url.Action("BlogDetay","Home", new {id = item.ID})"><img src="@item.Resim" alt=""></a>
							</div>
							<div class="blog-content">
								<div class="post-info">
									<span class="post-date mr-15">
										<a href="@Url.Action("BlogDetay","Home", new {id = item.ID})"><i class="zmdi zmdi-account"></i>Serkan KAYA </a>
									</span>
									<span class="post-date mr-15">
										<a href="@Url.Action("BlogDetay","Home", new {id = item.ID})"><i class="zmdi zmdi-favorite-outline"></i>( 500 )</a>
									</span>
									<span class="post-date mr-15">
										<a href="@Url.Action("BlogDetay","Home", new {id = item.ID})"><i class="zmdi zmdi-comments"></i>( 100 )</a>
									</span>
									<span class="post-date">
										<a href="@Url.Action("BlogDetay","Home", new {id = item.ID})"><i class="zmdi zmdi-share"></i>( 100 )</a>
									</span>
									<div class="post-content">
										
										<p> <a href="@Url.Action("BlogDetay","Home", new {id = item.ID})"></a> @item.Icerik" </p>
									</div>
									<span class="post-date">
										<a href="#"><i class="@item.Tarih"></i>Ağustos 26 2022 </a>
									</span>
									<span class="post-btn pull-right">
										<a href="@Url.Action("BlogDetay","Home", new {id = item.ID})">Devamını Oku<i class="zmdi zmdi-arrow-right"></i></a>
									</span>
								</div>
							</div>
						</div>
					</div>
					
			
				
    }
	</div>
				<!-- Section Titel -->
				
				<!-- Section Titel -->
				<!-- Blog Content Area Start -->
				
				<!-- Blog Content Area End -->
			</div>
		</section>
		<section b-trnalvuuqi="" class="pricing-table ptb-100">
			<div b-trnalvuuqi="" class="container">
				<!-- Section Titel -->
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="col-md-12">
						<div b-trnalvuuqi="" class="section-title text-center">
							<h1 b-trnalvuuqi="">PAKETLERİMİZ</h1>
							<p b-trnalvuuqi="" style="color:black;">SİZLER İÇİN PAKET FİYATLARIMIZ. <br b-trnalvuuqi=""> İLETİŞİME GEÇİLİP, PROJE DETAYLARI GÖRÜŞÜLÜR. PROJE ÜCRETİNİN %50`Sİ ÖN ÖDEME OLARAK ALINIR. SONRASINDA ÜRÜN/HİZMETİNİZ 15 GÜN İÇİNDE TESLİM EDİLİR.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<!-- Pricing Table Area -->
				<div b-trnalvuuqi="" class="row pt-55">
					<!-- Pricing table single -->
					<div b-trnalvuuqi="" class="col-md-4 col-sm-6 col-xs-12 res-pb-xs-30">
						<div b-trnalvuuqi="" class="pricing-table-single white-bg">
							<div b-trnalvuuqi="" class="table-category text-center">
								<h6 b-trnalvuuqi="">WEB SİTESİ</h6>
								<h1 b-trnalvuuqi="">BAŞLANGIÇ 5000 TL<span b-trnalvuuqi=""> </br>EK HİZMETLER EK ÜCRETE TABİDİR</span></h1>
							</div>
							<div b-trnalvuuqi="" class="pricing-list text-center">
								<ul b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Modern bir arayüz tasarımı</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Kolay kullanılabilirlik.</a></li> <br b-trnalvuuqi=""> 
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">İletişim formu.</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Sosyal medya linkleri.</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Hızlı ve güvenli sunucu</a></li>
								</ul>
							</div>
							<div b-trnalvuuqi="" class="order-button text-uppercase text-center">
								<a b-trnalvuuqi="" href="@Url.Action("Iletisim" , "Home")">ŞİMDİ İLETİŞİME GEÇ</a>
							</div>
						</div>
					</div>
					<!-- Pricing table single -->
					<!-- Pricing table single -->
					<div b-trnalvuuqi="" class="col-md-4 col-sm-6 col-xs-12 res-pb-xs-30">
						<div b-trnalvuuqi="" class="pricing-table-single white-bg">
							<div b-trnalvuuqi="" class="table-category text-center">
								<h6 b-trnalvuuqi="">Mobil Uygulama</h6>
								<h1 b-trnalvuuqi="">BAŞLANGIÇ 15000 TL<span b-trnalvuuqi=""> </br> EKSTRA ÖZELLİKLER EK ÜCRETE TABİDİR</span></h1>
							</div>
							<div b-trnalvuuqi="" class="pricing-list text-center">
								<ul b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Modern Bir Tasarım</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Güncellemeler Alabilir</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Hızlı</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Güvenli</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Kullanıcı Gizliliğine Önem Veren</a></li>
								</ul>
							</div>
							<div b-trnalvuuqi="" class="order-button text-uppercase text-center">
								<a b-trnalvuuqi="" href="@Url.Action("Iletisim" , "Home")">ŞİMDİ İLETİŞİME GEÇ</a>
							</div>
						</div>
					</div>
					<!-- Pricing table single -->
					<!-- Pricing table single -->
					<div b-trnalvuuqi="" class="col-md-4 hidden-sm hidden-xs">
						<div b-trnalvuuqi="" class="pricing-table-single white-bg">
							<div b-trnalvuuqi="" class="table-category text-center">
								<h6 b-trnalvuuqi="">Seo Hizmeti</h6>
								<h1 b-trnalvuuqi=""> BAŞLANGIÇ 4500 TL<span b-trnalvuuqi=""> </br>EKSTRA HİZMETLER EK ÜCRETE TABİDİR</span></h1>
							</div>
							<div b-trnalvuuqi="" class="pricing-list text-center">
								<ul b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Kişisel SEO Planı</a></li> <br b-trnalvuuqi=""> 
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Google Search Console Entegrasyonu</a></li> <br b-trnalvuuqi=""> 
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Görüntü Optimizasyonu</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Site Doğrulaması</a></li> <br b-trnalvuuqi="">
									<li b-trnalvuuqi=""><a b-trnalvuuqi="" href="#">Özel Meta Etiketleri</a></li>
								</ul>
							</div>
							<div b-trnalvuuqi="" class="order-button text-uppercase text-center">
								<a b-trnalvuuqi="" href="@Url.Action("Iletisim" , "Home")">ŞİMDİ İLETİŞİME GEÇ</a>
							</div>
						</div>
					</div>
					<!-- Pricing table single -->
				</div>
				<!-- Pricing Table Area -->
			</div>
		</section>

		<section b-trnalvuuqi="" class="wework-area bg-1 pt-100 pb-120 overlay">
			<div b-trnalvuuqi="" class="container">
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="col-md-12">
						<div b-trnalvuuqi="" class="section-title text-center text-white">
							<h1 b-trnalvuuqi="">Teslimat Süreçleri Nasıl İşler ?</h1>
							<p b-trnalvuuqi="">Siparişinizin Ardından <b b-trnalvuuqi="" style="color:deeppink;">SKSoft</b> Ekibi Teslimatınız İçin Nasıl Bir Plan Yapar ?</p>
						</div>
					</div>
				</div>
				<div b-trnalvuuqi="" class="row pt-80">
					<div b-trnalvuuqi="" class="col-md-12">
						<div b-trnalvuuqi="" class="wework-social uppercase">
							<ul b-trnalvuuqi="">
								<li b-trnalvuuqi="">
									<a b-trnalvuuqi="" href="#">
										<i b-trnalvuuqi="" style="color:hotpink" class="fa fa-lightbulb-o" aria-hidden="true"></i>
										<span b-trnalvuuqi="" style="color:crimson">Plan</span>
									</a>
								</li>
								<li b-trnalvuuqi="">
									<a b-trnalvuuqi="" href="#">
										<i b-trnalvuuqi="" style="color:hotpink" class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span b-trnalvuuqi="" style="color:crimson">Sözleşme</span>
									</a>
								</li>
								<li b-trnalvuuqi="">
									<a b-trnalvuuqi="" href="#">
										<i b-trnalvuuqi="" style="color:hotpink" class="fa fa-paint-brush" aria-hidden="true"></i>
										<span b-trnalvuuqi="" style="color:crimson">Tasarım</span>
									</a>
								</li>
								<li b-trnalvuuqi="">
									<a b-trnalvuuqi="" href="#">
										<i b-trnalvuuqi="" style="color:hotpink" class="fa fa-laptop" aria-hidden="true"></i>
										<span b-trnalvuuqi="" style="color:crimson">Aktarım</span>
									</a>
								</li>
								<li b-trnalvuuqi="">
									<a b-trnalvuuqi="" href="#">
										<i b-trnalvuuqi="" style="color:hotpink" class="fa fa-check-square-o" aria-hidden="true"></i>
										<span b-trnalvuuqi="" style="color:crimson">Teslimat</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br b-trnalvuuqi="">

		<div b-trnalvuuqi="" class="brandlogo-area pb-100">
			<div b-trnalvuuqi="" class="container">
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="brand-carsoul owl-carousel owl-theme" style="opacity: 1; display: block;">
						
						<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2592px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="owl-wrapper-outer"><div class="owl-wrapper-outer"><div b-trnalvuuqi="" class="owl-wrapper" style="width: 2592px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div><div b-trnalvuuqi="" class="owl-item" style="width: 162px;"><div b-trnalvuuqi="" class="col-md-12">
							<div b-trnalvuuqi="" class="brand-single">
								<a b-trnalvuuqi=""><img b-trnalvuuqi="" src="/Rosella/UI/images/brand/6.jpg" alt=""></a>
							</div>
						</div></div></div></div></div></div></div></div>
						
					</div>
				</div>
			</div>
		</div>
	
        <footer b-trnalvuuqi="" class="footer-area ptb-100 black-half-bg">
			<div b-trnalvuuqi="" class="container">
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="col-md-3 col-sm-4 col-xs-12 res-pb-xs-30">
						<div b-trnalvuuqi="" class="footer-menu text-white">
							<h6 b-trnalvuuqi="" style="color:white">İletişim</h6>
							<div b-trnalvuuqi="" class="contact-details text-white">
								<ul b-trnalvuuqi="">
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#"><i b-trnalvuuqi="" class="zmdi zmdi-pin"></i></a>
										<p b-trnalvuuqi="" style="color:white">Şanlıurfa/Karaköprü</p>
									</li>
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#"><i b-trnalvuuqi="" class="zmdi zmdi-email"></i></a>
										<p b-trnalvuuqi="">mskdeveloper@hotmail.com</p>
									</li>
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#"><i b-trnalvuuqi="" class="zmdi zmdi-phone"></i></a>
										<p b-trnalvuuqi="">0531 635 49 63</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					
					<div b-trnalvuuqi="" class="col-md-3 hidden-sm hidden-xs">
						<div b-trnalvuuqi="" class="footer-menu pl-60">
							<h6 b-trnalvuuqi="" style="color:white">Menü</h6>
							<div b-trnalvuuqi="" class="quick-link">
								<ul b-trnalvuuqi="">
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#">Anasayfa</a>
									</li>
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#">Hakkımızda</a>
									</li>
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#"> Hizmetlerimiz</a> 
									</li>
									<li b-trnalvuuqi=""> 
										<a b-trnalvuuqi="" style="color:white" href="#">Referanslar</a>  
									</li> 
									<li b-trnalvuuqi="">
										<a b-trnalvuuqi="" style="color:white" href="#">İletişim</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</footer>

		<div b-trnalvuuqi="" class="footer-bottom ptb-20 black-bg">
			<div b-trnalvuuqi="" class="container">
				<div b-trnalvuuqi="" class="row">
					<div b-trnalvuuqi="" class="footer-copyright text-center text-white">
						<p b-trnalvuuqi="">2022 ©<a b-trnalvuuqi="" style="color:white" href="mskdeveloper@hotmail.com/"> SKSoft </a>Tüm Hakları Saklıdır</p>
					</div>
				</div>
			</div>
		</div>
	
		
    </b></div><b b-trnalvuuqi="" style="color:steelblue;" <="" b="">
    <script src="/Rosella/UI/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Rosella/UI/js/bootstrap.min.js"></script>
    <script src="/Rosella/UI/js/plugins.js"></script>
    <script src="/Rosella/UI/js/jquery.nivo.slider.pack.js"></script>
    <script src="/Rosella/UI/js/jquery.magnific-popup.min.js"></script>
    <script src="/Rosella/UI/js/isotope.pkgd.min.js"></script>
    <script src="/Rosella/UI/js/venobox.min.js"></script>
	<script src="/Rosella/UI/js/ajax-mail.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<script>
		function initialize() {
		  var mapOptions = {
			zoom: 16,
			scrollwheel: false,
			center: new google.maps.LatLng(34.073781, -84.302295)
		  };

		  var map = new google.maps.Map(document.getElementById('googleMap'),
			  mapOptions);


		  var marker = new google.maps.Marker({
			position: map.getCenter(),
			animation:google.maps.Animation.BOUNCE,
			icon: '~/Rosella/UI/images/icon/map-icon.png',
			map: map
		  });

		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	
    <script src="/Rosella/UI/js/owl.carousel.min.js"></script>
    <script src="/Rosella/UI/js/jquery.meanmenu.js"></script>
    <script src="/Rosella/UI/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Rosella/UI/js/jquery.counterup.min.js"></script>
    <script src="/Rosella/UI/js/jquery.waypoints.min.js"></script>
    <script src="/Rosella/UI/js/main.js"></script>



</b></div><a b-trnalvuuqi="" id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i b-trnalvuuqi="" class="fa fa-angle-up"></i></a><a b-trnalvuuqi="" id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i b-trnalvuuqi="" class="fa fa-angle-up"></i></a><live-preview-root b-trnalvuuqi=""></live-preview-root></div></div></div></div><a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fa fa-angle-up"></i></a><a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fa fa-angle-up"></i></a><live-preview-root></live-preview-root></body></html>