@model Sksoft.Entity.Mail
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
                                                                           
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Contact","Mail"))
{
    @Html.AntiForgeryToken()
    <h4>DETAYLARI YAZIN.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Adi, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Adi,  new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Adi)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Konu, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Konu, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Konu)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mesaj, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Mesaj, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Mesaj)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Gönder" />
        </div>
    </div>

}
