@model Sksoft.Entity.Ayarlar

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>@ViewBag.Title.</h2>


<div class="row">
    <div class="col-md-12">@ViewBag.Durum</div>
</div>

<div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">Site Adı</div>
            <div class="col-md-8">@Html.TextBoxFor(x => x.SiteAdi, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-md-4">Site Açıklaması</div>
            <div class="col-md-8">@Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-md-4">Adres</div>
            <div class="col-md-8">@Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-md-4">Mail</div>
            <div class="col-md-8">@Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-md-4">Telefon</div>
            <div class="col-md-8">@Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })</div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <button style="background-color:cornflowerblue; color:white"> Güncelle</button></div>
            </div>
    }
</div>
